{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block header %}
  <h1 class="col-lg-4 offset-lg-4 text-center">{% block title %}Sign Up{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="col-lg-4 offset-lg-4 text-center">
    <p>
      Sign up to receive daily notifications on menu options at McAuliffe 
      elementary for the 2024-25 school year. This is a community effort and not 
      related in any way to CUSD or McAuliffe. The menus are reported as-is from 
      the information in <a href="https://cusdk8nutrition.com/index.php?sid=1805092039571289&page=menus" target="_blank">
      CUSD nutrition website</a>. 
      <br>Msg & data rates may apply. 
      <br>Unsubscribe at any time by replying <strong>STOP</strong>.
    </p>
    <p>
      Example text:
      <img src="{{ url_for('static', filename='images/sample_text.png') }}" class="img-responsive w-100" />
    </p>
  </div>
  <div class="col-lg-4 offset-lg-4">
    {{ render_form(form, form_type='horizontal') }}
  </div>
{% endblock %}